<h1>{{title}}</h1>
<p>Bienvenido a la Página Principal</p>

<div class="botonera">
    <button type="button" id="c1" class="btn btn-outline-primary">COSA 1</button>
    <button type="button" id="c2" class="btn btn-outline-success">COSA 2</button>
    <button type="button" id="c3" class="btn btn-outline-info">COSA 3</button>
    <button type="button" id="c4" class="btn btn-outline-warning">COSA 4</button>
    <button type="button" id="delete" class="btn btn-outline-danger">ELIMINAR TODO</button>
</div>

<br><br>
<div class="form-group row x">
    <label for="staticEmail" class="col-sm-2 col-form-label">COSAS SELECCIONADAS</label>
    <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="see" name="see">
    </div>
</div>