body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* 
a {
  color: #00B7FF;
} */

.botonera{
  margin-top: 30vh;
  display: flex;
  justify-content: space-evenly;
}

.x{
  display: flex;
  flex-direction: column;
  align-items: center;
}